<div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon">
                    <select ng-model="ctrl.songCount">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </span>
                <input type="text" ng-model="ctrl.songName" placeholder="Song name" 
                    uib-typeahead="song.title for song in ctrl.autocompleteSongs($viewValue)" 
                    typeahead-no-results="'No results found.'" 
                    typeahead-on-select="ctrl.autoCallback($item)"
                    class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-disabled="!ctrl.songId" ng-click="ctrl.loadSimilar()">Find Similar</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <th class="col-md-1">Song ID</th>
                    <th lass="col-md-7">Song Name</th>
                    <th lass="col-md-2">Artist</th>
                </thead>
                <tbody>
                    <tr ng-repeat="song in ctrl.similarSongs">
                        <td ng-bind="song.song_id"></td>
                        <td ng-bind="song.title"></td>
                        <td ng-bind="song.artist"></td>
                    </tr>
                    <tr ng-if="!ctrl.similarSongs || !ctrl.similarSongs.length">
                        <td colspan="3" style="text-align: center">No songs are similar to the given one</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="doughnut" class="chart chart-doughnut"
            chart-data="ctr.similarSongs.artists" chart-labels="labels">
            </canvas> 
        </div>
    </div>
</div>
