<div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon">
                    <select ng-model="ctrl.songCount">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </span>
                <input type="text" ng-model="ctrl.songName" placeholder="Song name" 
                    uib-typeahead="song.title for song in ctrl.autocompleteSongs($viewValue)" 
                    typeahead-no-results="'No results found.'" 
                    typeahead-on-select="ctrl.autoCallback($item)"
                    typeahead-min-length="3"
                    typeahead-wait-ms="500"
                    class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-disabled="!ctrl.songId" ng-click="ctrl.loadSimilar()">Find Similar</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-if="ctrl.chartData">
            <ng-tag-cloud cloud-data="ctrl.chartData"></ng-tag-cloud>
        </div>
    </div>
</div>